.hide{
    display: none;
}

.legend{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    z-index: 1;
    width: 320px;
    height: 213px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-shadow: 3px 3px 10px black;
    user-select: none;

    
    
}

.container{
    display: flex;
    flex-direction: column;
    
}